.git
.gitignore

.env

.venv
venv

__pycache__
**/__pycache__
*.pyc
.pytest_cache

.idea
.vscode

test
tests

SiglIp/images
SiglIp/analysis
SiglIp/results
SiglIp/initial_test_siglip.py
SiglIp/TEST_02_PT_SIGLIP.py

README.md