--
-- PostgreSQL database dump
--

\restrict iajnc76aAXqxIaQAJOfYCdJjPboR61uQvDBgtuPqQSYOfZMky2SqstEkNcQDIsR

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_nutricionist_id_fkey";
ALTER TABLE IF EXISTS ONLY public."User_Allergen" DROP CONSTRAINT IF EXISTS "User_Allergen_user_id_fkey";
ALTER TABLE IF EXISTS ONLY public."User_Allergen" DROP CONSTRAINT IF EXISTS "User_Allergen_allergen_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Meal" DROP CONSTRAINT IF EXISTS "Meal_user_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Meal_Food" DROP CONSTRAINT IF EXISTS "Meal_Food_meal_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Meal_Food" DROP CONSTRAINT IF EXISTS "Meal_Food_food_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Food" DROP CONSTRAINT IF EXISTS "Food_category_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Food" DROP CONSTRAINT IF EXISTS "Food_brand_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Food_Nutrient" DROP CONSTRAINT IF EXISTS "Food_Nutrient_nutrient_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Food_Nutrient" DROP CONSTRAINT IF EXISTS "Food_Nutrient_food_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Allergen_Food" DROP CONSTRAINT IF EXISTS "Allergen_Food_food_id_fkey";
ALTER TABLE IF EXISTS ONLY public."Allergen_Food" DROP CONSTRAINT IF EXISTS "Allergen_Food_allergen_id_fkey";
DROP INDEX IF EXISTS public."ix_User_nutricionist_id";
DROP INDEX IF EXISTS public."ix_User_id";
DROP INDEX IF EXISTS public."ix_User_email";
DROP INDEX IF EXISTS public."ix_Nutrient_unit";
DROP INDEX IF EXISTS public."ix_Nutrient_name";
DROP INDEX IF EXISTS public."ix_Nutrient_id";
DROP INDEX IF EXISTS public."ix_Nutrient_calories_per_unit";
DROP INDEX IF EXISTS public."ix_Nutricionist_phone";
DROP INDEX IF EXISTS public."ix_Nutricionist_password";
DROP INDEX IF EXISTS public."ix_Nutricionist_id";
DROP INDEX IF EXISTS public."ix_Nutricionist_email";
DROP INDEX IF EXISTS public."ix_Meal_user_id";
DROP INDEX IF EXISTS public."ix_Meal_id";
DROP INDEX IF EXISTS public."ix_Food_name";
DROP INDEX IF EXISTS public."ix_Food_id";
DROP INDEX IF EXISTS public."ix_Food_category_id";
DROP INDEX IF EXISTS public."ix_Food_brand_id";
DROP INDEX IF EXISTS public."ix_Category_name";
DROP INDEX IF EXISTS public."ix_Category_id";
DROP INDEX IF EXISTS public."ix_Brand_name";
DROP INDEX IF EXISTS public."ix_Brand_id";
DROP INDEX IF EXISTS public."ix_Allergen_name";
DROP INDEX IF EXISTS public."ix_Allergen_id";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."User_Allergen" DROP CONSTRAINT IF EXISTS "User_Allergen_pkey";
ALTER TABLE IF EXISTS ONLY public."Nutrient" DROP CONSTRAINT IF EXISTS "Nutrient_pkey";
ALTER TABLE IF EXISTS ONLY public."Nutricionist" DROP CONSTRAINT IF EXISTS "Nutricionist_pkey";
ALTER TABLE IF EXISTS ONLY public."Meal" DROP CONSTRAINT IF EXISTS "Meal_pkey";
ALTER TABLE IF EXISTS ONLY public."Meal_Food" DROP CONSTRAINT IF EXISTS "Meal_Food_pkey";
ALTER TABLE IF EXISTS ONLY public."Food" DROP CONSTRAINT IF EXISTS "Food_pkey";
ALTER TABLE IF EXISTS ONLY public."Food_Nutrient" DROP CONSTRAINT IF EXISTS "Food_Nutrient_pkey";
ALTER TABLE IF EXISTS ONLY public."Category" DROP CONSTRAINT IF EXISTS "Category_pkey";
ALTER TABLE IF EXISTS ONLY public."Brand" DROP CONSTRAINT IF EXISTS "Brand_pkey";
ALTER TABLE IF EXISTS ONLY public."Allergen" DROP CONSTRAINT IF EXISTS "Allergen_pkey";
ALTER TABLE IF EXISTS ONLY public."Allergen_Food" DROP CONSTRAINT IF EXISTS "Allergen_Food_pkey";
ALTER TABLE IF EXISTS public."User" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Nutrient" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Nutricionist" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Meal" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Food" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Category" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Brand" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Allergen" ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public."User_id_seq";
DROP TABLE IF EXISTS public."User_Allergen";
DROP TABLE IF EXISTS public."User";
DROP SEQUENCE IF EXISTS public."Nutrient_id_seq";
DROP TABLE IF EXISTS public."Nutrient";
DROP SEQUENCE IF EXISTS public."Nutricionist_id_seq";
DROP TABLE IF EXISTS public."Nutricionist";
DROP SEQUENCE IF EXISTS public."Meal_id_seq";
DROP TABLE IF EXISTS public."Meal_Food";
DROP TABLE IF EXISTS public."Meal";
DROP SEQUENCE IF EXISTS public."Food_id_seq";
DROP TABLE IF EXISTS public."Food_Nutrient";
DROP TABLE IF EXISTS public."Food";
DROP SEQUENCE IF EXISTS public."Category_id_seq";
DROP TABLE IF EXISTS public."Category";
DROP SEQUENCE IF EXISTS public."Brand_id_seq";
DROP TABLE IF EXISTS public."Brand";
DROP SEQUENCE IF EXISTS public."Allergen_id_seq";
DROP TABLE IF EXISTS public."Allergen_Food";
DROP TABLE IF EXISTS public."Allergen";
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Allergen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Allergen" (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public."Allergen" OWNER TO postgres;

--
-- Name: Allergen_Food; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Allergen_Food" (
    food_id integer NOT NULL,
    allergen_id integer NOT NULL
);


ALTER TABLE public."Allergen_Food" OWNER TO postgres;

--
-- Name: Allergen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Allergen_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Allergen_id_seq" OWNER TO postgres;

--
-- Name: Allergen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Allergen_id_seq" OWNED BY public."Allergen".id;


--
-- Name: Brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Brand" (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public."Brand" OWNER TO postgres;

--
-- Name: Brand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Brand_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Brand_id_seq" OWNER TO postgres;

--
-- Name: Brand_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Brand_id_seq" OWNED BY public."Brand".id;


--
-- Name: Category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Category" (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public."Category" OWNER TO postgres;

--
-- Name: Category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Category_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Category_id_seq" OWNER TO postgres;

--
-- Name: Category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Category_id_seq" OWNED BY public."Category".id;


--
-- Name: Food; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Food" (
    id integer NOT NULL,
    name character varying NOT NULL,
    category_id integer,
    brand_id integer,
    image_url character varying
);


ALTER TABLE public."Food" OWNER TO postgres;

--
-- Name: Food_Nutrient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Food_Nutrient" (
    food_id integer NOT NULL,
    nutrient_id integer NOT NULL,
    amount double precision NOT NULL
);


ALTER TABLE public."Food_Nutrient" OWNER TO postgres;

--
-- Name: Food_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Food_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Food_id_seq" OWNER TO postgres;

--
-- Name: Food_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Food_id_seq" OWNED BY public."Food".id;


--
-- Name: Meal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Meal" (
    id integer NOT NULL,
    name character varying NOT NULL,
    calories double precision NOT NULL,
    weight_g double precision NOT NULL,
    consumed_at timestamp without time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."Meal" OWNER TO postgres;

--
-- Name: Meal_Food; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Meal_Food" (
    meal_id integer NOT NULL,
    food_id integer NOT NULL
);


ALTER TABLE public."Meal_Food" OWNER TO postgres;

--
-- Name: Meal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Meal_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Meal_id_seq" OWNER TO postgres;

--
-- Name: Meal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Meal_id_seq" OWNED BY public."Meal".id;


--
-- Name: Nutricionist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Nutricionist" (
    id integer NOT NULL,
    password character varying NOT NULL,
    created_at timestamp without time zone NOT NULL,
    phone character varying NOT NULL,
    email character varying NOT NULL
);


ALTER TABLE public."Nutricionist" OWNER TO postgres;

--
-- Name: Nutricionist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Nutricionist_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Nutricionist_id_seq" OWNER TO postgres;

--
-- Name: Nutricionist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Nutricionist_id_seq" OWNED BY public."Nutricionist".id;


--
-- Name: Nutrient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Nutrient" (
    id integer NOT NULL,
    name character varying NOT NULL,
    unit character varying NOT NULL,
    calories_per_unit double precision
);


ALTER TABLE public."Nutrient" OWNER TO postgres;

--
-- Name: Nutrient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Nutrient_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Nutrient_id_seq" OWNER TO postgres;

--
-- Name: Nutrient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Nutrient_id_seq" OWNED BY public."Nutrient".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    password character varying NOT NULL,
    email character varying NOT NULL,
    birthdate timestamp without time zone NOT NULL,
    weight_kg double precision NOT NULL,
    height_m double precision NOT NULL,
    sex character varying NOT NULL,
    created_at timestamp without time zone NOT NULL,
    is_active boolean NOT NULL,
    nutricionist_id integer
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_Allergen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User_Allergen" (
    allergen_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."User_Allergen" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Allergen id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allergen" ALTER COLUMN id SET DEFAULT nextval('public."Allergen_id_seq"'::regclass);


--
-- Name: Brand id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Brand" ALTER COLUMN id SET DEFAULT nextval('public."Brand_id_seq"'::regclass);


--
-- Name: Category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category" ALTER COLUMN id SET DEFAULT nextval('public."Category_id_seq"'::regclass);


--
-- Name: Food id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food" ALTER COLUMN id SET DEFAULT nextval('public."Food_id_seq"'::regclass);


--
-- Name: Meal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Meal" ALTER COLUMN id SET DEFAULT nextval('public."Meal_id_seq"'::regclass);


--
-- Name: Nutricionist id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Nutricionist" ALTER COLUMN id SET DEFAULT nextval('public."Nutricionist_id_seq"'::regclass);


--
-- Name: Nutrient id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Nutrient" ALTER COLUMN id SET DEFAULT nextval('public."Nutrient_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Allergen; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Allergen" (id, name) FROM stdin;
6	Alfa-Gal
1	Ovomuc├│ide
2	Ovoalbumina
3	Ovotransferrina
4	Lactucopicrina
5	Lactucina 
7	Mal d 1
8	Mal d 2
9	Mal d 3
10	Mal d 4
11	Mus a 1
12	Mus a 2
13	Mus a 3
14	nsLTP
15	Patatina
16	Gal d 1
17	Albumina s├®rica
18	Parvalb├║minas
19	Gliadina
\.


--
-- Data for Name: Allergen_Food; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Allergen_Food" (food_id, allergen_id) FROM stdin;
25	19
11	18
11	17
11	16
10	15
9	14
8	13
8	12
8	11
7	10
7	9
7	8
7	7
5	6
4	5
4	4
6	3
6	2
6	1
12	16
12	17
12	18
13	16
13	17
13	18
14	16
14	17
14	18
15	16
15	17
15	18
16	16
16	17
16	18
17	16
17	17
17	18
18	16
18	17
18	18
19	16
19	17
19	18
20	16
20	17
20	18
21	16
21	17
21	18
22	16
22	17
22	18
23	16
23	17
23	18
24	16
24	17
24	18
25	16
25	17
25	18
\.


--
-- Data for Name: Brand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Brand" (id, name) FROM stdin;
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Category" (id, name) FROM stdin;
1	Carnes e derivados
2	Cereais
3	Frango
4	Frutas
5	Hortali├ºas
6	Leguminosas
7	Ovos
\.


--
-- Data for Name: Food; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Food_Nutrient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Meal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Meal" (id, name, calories, weight_g, consumed_at, user_id) FROM stdin;
\.


--
-- Data for Name: Meal_Food; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Meal_Food" (meal_id, food_id) FROM stdin;
\.


--
-- Data for Name: Nutricionist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Nutricionist" (id, password, created_at, phone, email) FROM stdin;
\.


--
-- Data for Name: Nutrient; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Nutrient" (id, name, unit, calories_per_unit) FROM stdin;
10	Proteinas	g	4
11	Carboidratos	g	4
12	Gorduras	g	9
13	Fibras	g	0
14	Sodio	mg	0
15	Potassio	mg	0
16	Calcio	mg	0
17	Ferro	mg	0
18	Vitamina C	mg	0
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, password, email, birthdate, weight_kg, height_m, sex, created_at, is_active, nutricionist_id) FROM stdin;
2	$argon2id$v=19$m=65536,t=3,p=4$QSBY4lwriojVs0LP6YWUNA$uIa74oi6XRml+5YAFkChRNAttCJDuVarDrQw/E4RNME	lucas@gmail.com	2007-07-07 00:00:00	89	1.75	Male	2026-08-04 15:17:24.499064	t	\N
\.


--
-- Data for Name: User_Allergen; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User_Allergen" (allergen_id, user_id) FROM stdin;
1	2
19	2
9	2
\.


--
-- Name: Allergen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Allergen_id_seq"', 1, false);


--
-- Name: Brand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Brand_id_seq"', 1, false);


--
-- Name: Category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Category_id_seq"', 7, true);


--
-- Name: Food_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Food_id_seq"', 25, true);


--
-- Name: Meal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Meal_id_seq"', 1, false);


--
-- Name: Nutricionist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Nutricionist_id_seq"', 1, false);


--
-- Name: Nutrient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Nutrient_id_seq"', 18, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 2, true);


--
-- Name: Allergen_Food Allergen_Food_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allergen_Food"
    ADD CONSTRAINT "Allergen_Food_pkey" PRIMARY KEY (food_id, allergen_id);


--
-- Name: Allergen Allergen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allergen"
    ADD CONSTRAINT "Allergen_pkey" PRIMARY KEY (id);


--
-- Name: Brand Brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Brand"
    ADD CONSTRAINT "Brand_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Food_Nutrient Food_Nutrient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food_Nutrient"
    ADD CONSTRAINT "Food_Nutrient_pkey" PRIMARY KEY (food_id, nutrient_id);


--
-- Name: Food Food_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food"
    ADD CONSTRAINT "Food_pkey" PRIMARY KEY (id);


--
-- Name: Meal_Food Meal_Food_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Meal_Food"
    ADD CONSTRAINT "Meal_Food_pkey" PRIMARY KEY (meal_id, food_id);


--
-- Name: Meal Meal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Meal"
    ADD CONSTRAINT "Meal_pkey" PRIMARY KEY (id);


--
-- Name: Nutricionist Nutricionist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Nutricionist"
    ADD CONSTRAINT "Nutricionist_pkey" PRIMARY KEY (id);


--
-- Name: Nutrient Nutrient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Nutrient"
    ADD CONSTRAINT "Nutrient_pkey" PRIMARY KEY (id);


--
-- Name: User_Allergen User_Allergen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User_Allergen"
    ADD CONSTRAINT "User_Allergen_pkey" PRIMARY KEY (allergen_id, user_id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: ix_Allergen_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Allergen_id" ON public."Allergen" USING btree (id);


--
-- Name: ix_Allergen_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Allergen_name" ON public."Allergen" USING btree (name);


--
-- Name: ix_Brand_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Brand_id" ON public."Brand" USING btree (id);


--
-- Name: ix_Brand_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Brand_name" ON public."Brand" USING btree (name);


--
-- Name: ix_Category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Category_id" ON public."Category" USING btree (id);


--
-- Name: ix_Category_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Category_name" ON public."Category" USING btree (name);


--
-- Name: ix_Food_brand_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Food_brand_id" ON public."Food" USING btree (brand_id);


--
-- Name: ix_Food_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Food_category_id" ON public."Food" USING btree (category_id);


--
-- Name: ix_Food_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Food_id" ON public."Food" USING btree (id);


--
-- Name: ix_Food_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Food_name" ON public."Food" USING btree (name);


--
-- Name: ix_Meal_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Meal_id" ON public."Meal" USING btree (id);


--
-- Name: ix_Meal_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Meal_user_id" ON public."Meal" USING btree (user_id);


--
-- Name: ix_Nutricionist_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutricionist_email" ON public."Nutricionist" USING btree (email);


--
-- Name: ix_Nutricionist_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutricionist_id" ON public."Nutricionist" USING btree (id);


--
-- Name: ix_Nutricionist_password; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutricionist_password" ON public."Nutricionist" USING btree (password);


--
-- Name: ix_Nutricionist_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutricionist_phone" ON public."Nutricionist" USING btree (phone);


--
-- Name: ix_Nutrient_calories_per_unit; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutrient_calories_per_unit" ON public."Nutrient" USING btree (calories_per_unit);


--
-- Name: ix_Nutrient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutrient_id" ON public."Nutrient" USING btree (id);


--
-- Name: ix_Nutrient_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutrient_name" ON public."Nutrient" USING btree (name);


--
-- Name: ix_Nutrient_unit; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_Nutrient_unit" ON public."Nutrient" USING btree (unit);


--
-- Name: ix_User_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_User_email" ON public."User" USING btree (email);


--
-- Name: ix_User_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_User_id" ON public."User" USING btree (id);


--
-- Name: ix_User_nutricionist_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ix_User_nutricionist_id" ON public."User" USING btree (nutricionist_id);


--
-- Name: Allergen_Food Allergen_Food_allergen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allergen_Food"
    ADD CONSTRAINT "Allergen_Food_allergen_id_fkey" FOREIGN KEY (allergen_id) REFERENCES public."Allergen"(id) ON DELETE CASCADE;


--
-- Name: Allergen_Food Allergen_Food_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allergen_Food"
    ADD CONSTRAINT "Allergen_Food_food_id_fkey" FOREIGN KEY (food_id) REFERENCES public."Food"(id) ON DELETE CASCADE;


--
-- Name: Food_Nutrient Food_Nutrient_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food_Nutrient"
    ADD CONSTRAINT "Food_Nutrient_food_id_fkey" FOREIGN KEY (food_id) REFERENCES public."Food"(id) ON DELETE CASCADE;


--
-- Name: Food_Nutrient Food_Nutrient_nutrient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food_Nutrient"
    ADD CONSTRAINT "Food_Nutrient_nutrient_id_fkey" FOREIGN KEY (nutrient_id) REFERENCES public."Nutrient"(id) ON DELETE CASCADE;


--
-- Name: Food Food_brand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food"
    ADD CONSTRAINT "Food_brand_id_fkey" FOREIGN KEY (brand_id) REFERENCES public."Brand"(id);


--
-- Name: Food Food_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Food"
    ADD CONSTRAINT "Food_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public."Category"(id);


--
-- Name: Meal_Food Meal_Food_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Meal_Food"
    ADD CONSTRAINT "Meal_Food_food_id_fkey" FOREIGN KEY (food_id) REFERENCES public."Food"(id) ON DELETE CASCADE;


--
-- Name: Meal_Food Meal_Food_meal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Meal_Food"
    ADD CONSTRAINT "Meal_Food_meal_id_fkey" FOREIGN KEY (meal_id) REFERENCES public."Meal"(id) ON DELETE CASCADE;


--
-- Name: Meal Meal_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Meal"
    ADD CONSTRAINT "Meal_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id);


--
-- Name: User_Allergen User_Allergen_allergen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User_Allergen"
    ADD CONSTRAINT "User_Allergen_allergen_id_fkey" FOREIGN KEY (allergen_id) REFERENCES public."Allergen"(id) ON DELETE CASCADE;


--
-- Name: User_Allergen User_Allergen_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User_Allergen"
    ADD CONSTRAINT "User_Allergen_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON DELETE CASCADE;


--
-- Name: User User_nutricionist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_nutricionist_id_fkey" FOREIGN KEY (nutricionist_id) REFERENCES public."Nutricionist"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict iajnc76aAXqxIaQAJOfYCdJjPboR61uQvDBgtuPqQSYOfZMky2SqstEkNcQDIsR

